[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/he/Desktop/OpenTabletDriver.desktop]
row=1
col=2

[/home/he/Desktop/books]
row=7
col=1

[/home/he/Desktop/Drawings]
row=6
col=1

[/home/he/Desktop/net.lutris.hyperdimension-neptunia-rebirth1-49.desktop]
row=4
col=0

[/home/he/Desktop/Genshin Impact.desktop]
row=0
col=0

[/home/he/Desktop/osu!lazer.desktop]
row=1
col=0

[/home/he/Desktop/Mahjong Soul.desktop]
row=2
col=0

[/home/he/Desktop/osu!.desktop]
row=3
col=2

[/home/he/Desktop/PyCharm Professional 2024_2.desktop]
row=3
col=3

[/home/he/Desktop/Hatsune Miku Project DIVA Mega Mix.desktop]
row=3
col=0

[/home/he/Desktop/src]
row=1
col=3

[/home/he/Desktop/CLion 2024_2_0_1.desktop]
row=4
col=3

[/home/he/Desktop/Katawa Shoujo Re-Engineered.desktop]
row=6
col=0

[/home/he/Desktop/Documents]
row=3
col=1

[/home/he/Desktop/Pictures]
row=5
col=1

[/home/he/Desktop/Homework]
row=0
col=3

[/home/he/Desktop/Vim.desktop]
row=2
col=3

[/home/he/Desktop/Lutris.desktop]
row=2
col=2

[/home/he/Desktop/IntelliJ IDEA Ultimate 2024_2_0_2.desktop]
row=5
col=3

[/home/he/Desktop/Games]
row=0
col=2

[/home/he/Desktop/net.lutris.nekopara-vol-1-27.desktop]
row=5
col=0

[/home/he/Desktop/Downloads]
row=4
col=1

[Trash]
row=2
col=1

[/]
row=1
col=1

[/home/he]
row=0
col=1

